/* styles.css 
   Project: 
   Author: 
   Date: 
	
   Helpful links: 
   	Web colors: 
   		https://en.wikipedia.org/wiki/Web_colors#X11_color_names
	Color picker tool:
		https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Colors/Color_picker_tool
		http://colorpicker.com

*/


/*fonts*/

/*URW DIN Regular Italic

font-family: urw-din, sans-serif;

font-weight: 400;

font-style: italic;


URW DIN Regular

font-family: urw-din, sans-serif;

font-weight: 400;

font-style: normal;


URW DIN Bold Italic

font-family: urw-din, sans-serif;

font-weight: 700;

font-style: italic;


URW DIN Bold

font-family: urw-din, sans-serif;

font-weight: 700;

font-style: normal;


URW DIN Cond Regular Italic

font-family: urw-din-condensed, sans-serif;

font-weight: 400;

font-style: italic;


URW DIN Cond Regular

font-family: urw-din-condensed, sans-serif;

font-weight: 400;

font-style: normal;


URW DIN Cond Bold

font-family: urw-din-condensed, sans-serif;

font-weight: 700;

font-style: normal;


URW DIN Cond Bold Italic

font-family: urw-din-condensed, sans-serif;

font-weight: 700;

font-style: italic;


URW DIN SemiCond Regular

font-family: urw-din-semi-condensed, sans-serif;

font-weight: 400;

font-style: normal;


URW DIN SemiCond Regular Italic

font-family: urw-din-semi-condensed, sans-serif;

font-weight: 400;

font-style: italic;


URW DIN SemiCond Bold

font-family: urw-din-semi-condensed, sans-serif;

font-weight: 700;

font-style: normal;


URW DIN SemiCond Bold Italic

font-family: urw-din-semi-condensed, sans-serif;

font-weight: 700;

font-style: italic;*/





* {
   box-sizing: border-box;
}

body {
   background-color: rgb(13,23,33);
}

/*DELETE THIS FOR FINAL VERSION*/

.password {
   width: 100%;
   height: 100vh;
   position: fixed;
   top: 0px;
   left: 0px;
   background-color: rgba(13,23,33,1); 
   z-index: 1000;
}

.submit {
   color: white;
   cursor: pointer;
}

/*DELETE THIS FOR FINAL VERSION*/

/*above the fold styling*/

.abovethefold {
   width: 100%;
   height: 100vh;
   position: relative;
}

.backgroundvid {
   width: 100%;
   height: 100vh;
   object-fit: cover;
   position: fixed;
   top: 0px;
   left: 0px;
   z-index: -2;
   opacity: 0.8;
}

   .desktop-bg video {
      width: 100%;
      height: 100vh;
      object-fit: cover;
   }

.mobile-bg {
   display: none;
}    

   .mobile-bg img {
      width: 100%;
      height: 100vh;
      object-fit: cover;
   }

 

.titlevid {
   width: 100%;
   position: absolute;
   bottom: 0vh;
   left: 0px;
   z-index: 1;
}

.mobile-title {
   display: none;
}



   .titlevid img{
      width: 100%;
   }

   .arrow {
      width: 100%;
      position: absolute;
      bottom: 100px; 
   }

   .innerarrow {
      width: 5%;
      margin: auto;
   }

   .arrow img {
      width: 100%;
   }

   .fade-in-image { animation: fadeIn 4s; }

   @keyframes fadeIn {
      0% { opacity: 0; }
      50% { opacity: 0; }
      100% { opacity: 1; }
    }

   .bounce { animation: bounce 2s infinite; }

   @keyframes bounce {
      0% { bottom: 100px; }
      50% { bottom: 50px; }
      100% { bottom: 100px; }
    }


/*end above the fold styling*/   


.container {
   background: rgb(13,23,33);
   background: linear-gradient(0deg, rgba(13,23,33,1) 0%, rgba(13,23,33,1) 75%, rgba(13,23,33,0.6685267857142857) 85%, rgba(13,23,33,0) 100%);
   z-index: 1;
   width: 100%;
} 

.textbox {
   padding: 100px 10px;
} 

.innertext {
   font-family: "urw-din";
   color: white;
   max-width: 600px;
   box-shadow: 0px 0px 20px; 
   background-color: rgba(13,23,33,0.8);
   margin: auto;
   text-align: left;
   padding: 20px;
   font-size: 18px;
   /*line-height: 1.5;*/

} 

.boldtext {
   font-family: "urw-din";
   font-weight: bold;
   /*letter-spacing: 2px;*/
   /*color: #be0000;*/ /*dark red*/
   /*color: #fdfdd1;*/ /* yellow*/
   color: #e84141; /* light red*/
   /*color: #ed4e4e;*/ /*lighter red*/
   /*background-color: #be0000;*/
   /*color: white;*/


}  

.paragraphs a {
   color: #e84141;
}

.paragraphs a:visited {
   color: #e84141;
}




.subhead {
   font-family: "urw-din";
   font-weight: bold;
   letter-spacing: 2px;
   text-align: center;
   color: white;
   font-size: 20px;
} 

.subhead h3 {
   text-transform: uppercase;
}

.firstsubhead h3{
   font-size: 30px;
} 

.firstsubhead h5{
   font-size: 18px;
} 

.contentbox {
   padding-bottom: 50px;
}

.guide-box {
   font-family: "urw-din";
   font-weight: bold;
   letter-spacing: 2px;
   color: white;
   max-width: 900px;
   text-align: center;
   margin: auto;
   text-transform: uppercase;
   font-size: 18px;
   position: relative;
   padding-bottom: 100px;
   padding-top: 50px;
} 

.guide-box p {
   z-index: 1;
}



.guide-box a {
   color: #e84141;
}

.guide-box a:visited {
   color: #e84141;
}

.innercontent {
   max-width: 700px;
   margin: auto;
} 

.videobox {
   width: 100%;
}

   .iframecontainer {
      width: 100%;
      height: 0px;
      padding-top: 56%;
      position: relative;
   }

   .iframecontainer iframe {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
      border: none;
   }


.outermap {
   position: relative;
   width: 100%;
   height: 100vh;
   z-index: -1;
}   


#map { 
   width: 100%;
   height: 100vh;
   position: absolute;
   opacity: 1;
   top: 0px;
   left: 0px;
}  

.mapoverlay {
   width: 100%;
   height: 100vh;
   position: absolute;
   top: 0px;
   left: 0px;
   background: linear-gradient(0deg, rgba(13,23,33,1) 10%, rgba(13,23,33,0) 25%, rgba(13,23,33,0) 75%, rgba(13,23,33,1) 90%);
   z-index: 9000;
   opacity: 1;


} 

.leaflet-control-zoom {
   display: none;
}

.startscrolly {
   position: relative;
   /*border: 2px solid purple;*/
   height: 1000vh;
   width: 100%;

}


.scrollboxes {
   /*margin-top: 100vh;*/
   width: 100%;
   position: absolute;
   top: 0px;
   z-index: 2000;
   /*border: 2px solid limegreen;*/
}

.scrollnew {
   height: 70vh;
}

.scrollsame {
   height: 100vh;
}

.outertext {
   padding: 10px;
}

.scrollbox {
   /*border: 2px solid hotpink;*/
   position: relative;
   padding: 0px;
}

.scrollbox1 {
   top: 0px;
   height: 100vh;
}

.scrollnew .innertext {
   position: relative;
   top: 50vh;
}

.scrollsame .innertext {
   position: relative;
   top: 40vh;
}

.scrollbox1 .innertext {
   position: relative;
   top: 35vh;
}

.scrollboxleft {
   width: 50%;
}

.scrollboxright {
   width: 50%;
   margin-left: 50%;
}

.scrollboxleft .innertext {
   max-width: 500px;
}

.scrollboxright .innertext {
   max-width: 500px;
}

.lastscroll {
   margin-bottom: 50vh;
   padding-bottom: 50vh;
}

.credits {
   font-family: "urw-din";
   color: white;
   max-width: 900px;
   box-shadow: 0px 0px 20px; 
   background-color: rgba(13,23,33,0.8);
   margin: auto;
   text-align: left;
   padding: 20px;
   font-weight: normal;
   font-size: 15px;
   margin-bottom: 100px;
}

.copywrite {
   text-align: center;
}

.methodology {
   color: gray;
   padding: 50px;
}

.scrolltitle {
   font-family: "urw-din";
   font-weight: bold;
   letter-spacing: 2px;
   text-transform: uppercase;
}


/*rollover container styling*/

.rollovertitle {
   max-width: 900px;
   box-shadow: 0px 0px 20px; 
   font-family: 'urw-din';
   margin: auto;
   background-color: rgba(13,23,33,0.8);
   text-align: left;
   padding: 20px;
   color: white;
   text-align: center;

} 

   .rollovertitle h3 {
      letter-spacing: 2px;
   }  

   .rollovertitle p {
      /*font-size: 12.5px;*/
   }

   


.masterrollovercontainer{
   position: relative;
   margin-top: 50px;
   margin-bottom: 50px;
} 

   .photocontainer {
      text-align: center;
   }

   .photoblocks {
      overflow: hidden;
      font-family: "urw-din";
      color: white;
      font-weight: normal;

   }

   .photos {
      text-align: center;
      display: inline-block;
      margin: 10px;
      width: 140px;
      height: 140px;
      cursor: pointer;
   }

   .atags {
      color: white;
   }

   .atags a {
      color: white;
   }

   .atags a:visited {
      color: white;
   }



      .logo {
         padding: 6px;
         width: 100%;
         height: 100%;
      }

      .logo img {
         width: 100%;
         display: block;
      }

      .logo:hover {
         padding: 0px;
      }

   .alert {
      width: 100%;
      height: 100vh;
      padding-top: 245px;
      background-color: rgba(13,23,33,0.8);
      overflow: hidden;
      display: none;
      position: fixed;
      top:0;
      left:0;

   }  

      .alertbox {
         width: 50%;
         color: white;
         background-color: rgba(13,23,33,0.8);
         padding: 30px;
         margin: auto;
         font-size: 25px;
         box-shadow: 0px 0px 20px; 
         font-family: 'urw-din';
         text-align: center;

      } 

         .exitbutton {
            width: 35px;
            top: 5px;
            right: 5px;
            position: fixed;
            cursor: pointer;
         }

            .exitbutton img {
               width: 100%;
            }


.footer {
   padding: 0px 10px;
   font-family: "urw-din";
   color: white;
} 


.otv_logo {
   width: 200px;
   margin: auto;

}  

.otv_logo img {
   width: 100%;
}




/* ______________________________NERD BOX______________________________    */

.nerdboxclick {
   width: 100%;
   text-align: center;
   margin-top: 10px;
   margin-bottom: 10px;
}

.nerdboxclick button {
   background-color: #be0000;
   font-family: 'urw-din';
   cursor: pointer;
   border: none; 
   font-weight: bold;
   letter-spacing: 2px; 
   color: white; 

}

   .nerdboxclick button:hover {
      transform: scale(1.1);
   }

.nerdbox {
   width: 100%;
   height: 100vh;
   background-color: rgba(13,23,33,0.7);
   display: none;
   position: fixed;
   top:0;
   left:0;
   z-index: 1;
   overflow: scroll;
   padding: 30px 10px;

}

.nerdtextbox {
   max-width: 700px;
   color: black;
   background-color: rgba(13,23,33,1);
   padding: 30px;
   margin: auto;
   font-family: 'urw-din';
   box-shadow: 0px 0px 10px grey;
   overflow: scroll;
   text-align: left;
   color: white;


} 

.nerdtextbox a {
   color: #e84141;
   /*color: #be0000;*/
}

.nerdtextbox a:visited {
   color: #e84141;
   /*color: #be0000;*/
}

   .nerdboxtitle {
      font-family: 'urw-din';
      font-weight: bold;
      letter-spacing: 2px;
      text-align: center;
   }




/*______________________________MEDIA QUERIES______________________________*/


 @media only screen and (max-width: 820px) {

   .startscrolly {
      height: 1100vh;

   }
   .scrollbox {
      position: relative;
   }
   
   .scrollboxright {
      margin-left: 0px;
      width: 100%;
   }

   .scrollboxleft {
      width: 100%;
   }


   .scrollbox .outertext {
      position: absolute;
      width: 100%;
      bottom: 0vh;
   }

   .scrollbox1 .outertext {
      bottom: 10vh;
   }

   .scrollbox .innertext {
      top: 0vh;
      
   }

   .scrollnew {
      height: 100vh;
   }

   .scrollsame {
      height: 80vh;
   }

   .guide-box {
      padding-left: 10px;
      padding-right: 10px;
   }


 }

 @media only screen and (max-width: 750px) {

   .mobile-bg {
      display: block;
   }  

   .desktop-bg {
      display: none;
   }

   .titlevid {
      bottom: -60px;
   }

   .mobile-title {
      display: block;
   }

   .desktop-title {
      display: none;
   }

   .innerarrow {
      width: 10%;
   }



 }


 @media only screen and (max-width: 700px) {

   .scrollbox .innercontent {
      top: 20vh;
   }

   .innercontent {
      padding: 0px 10px;
   }

   .photos {
      width: 120px;
      height: 120px;
   }

   .firstsubhead h3 {
      font-size: 25px;
   }

 }


 @media only screen and (max-width: 500px) {

   .firstsubhead h3 {
      font-size: 20px;
   }

   .firstsubhead h5 {
      font-size: 15px;
   }


   .innertext {
      /*text-align: left;*/
      font-size: 15px;
   }

 }

